<h2 align="center"> Python - Data Structures </h2>

## 1. String

### Basic Operations

In [1]:
x="Hello brother_007"
print(x[0])                   # Prints First letter of the string
print(x[-1])                  # Prints last letter of the string
print(x[1:])                  # print everything excluding first index
print(x[:-1])                 # Print everything except last index
print(x[0:3])                 # Starts from 0th index but doesn't include the limiting range
print(x[1:-1])                # prints all except the first and last index
print(len(x))                 # len() function to determine the length of the string
print(x)
print(x.strip())
print(x.lower())              # Makes all the letters smallcase
print(x.casefold())           #Same as str.lower()
print(x.upper())              # Makes all the letters uppercase
print(x.title())              # Makes the first letter of each word capital
print(x.capitalize())         # Makes the first letter uppercase only
print(x.swapcase())           # Makes Uppercase letter Smallcase and vice-versa
print(x.center(25,'_'))       #
print(x.rjust(25,'.'))
#print(x.join())
print(x.encode())             # Puts the whole string inside quotation
print(x.index('o'))           # Prints the index of the letter 'o'
print(x.find('o'))            # same as str.index()
print(x.rfind('t'))
print(x.count('o'),x.count('t'))
print(x.replace("Hello",'Hey'))
print('K' in x, 'K' not in x)
print(x.endswith('r'),x.startswith('l'))
print(x.split())               # Splits the string into list elements whenever there is a space by default
print(x.split('_'))            # Splits the string into list elements whenever there is a '_'
print(x.splitlines())          # makes the whole string a list element


print(x.isalnum())               # Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.
print(x.isalpha())               # Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.
print(x.isdigit())               # Returns true if the string contains only digits and false otherwise
print(x.islower())               # Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.
print(x.isnumeric())             # Returns true if a unicode string contains only numeric characters and false otherwise
print(x.isspace())               # Returns true if string contains only whitespace characters and false otherwise.
print(x.istitle())               # Returns true if string is properly "titlecased" and false otherwise
print(x.isupper())               # Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.

H
7
ello brother_007
Hello brother_00
Hel
ello brother_00
17
Hello brother_007
Hello brother_007
hello brother_007
hello brother_007
HELLO BROTHER_007
Hello Brother_007
Hello brother_007
hELLO BROTHER_007
____Hello brother_007____
........Hello brother_007
b'Hello brother_007'
4
4
9
2 1
Hey brother_007
False True
False False
['Hello', 'brother_007']
['Hello brother', '007']
['Hello brother_007']
False
False
False
False
False
False
False
False

### f-string

In [26]:
#ABOUT STRINGS


#(Formatted String)
name= input("Type your name:")
age=int(input("Type your age:"))
marks=float(input("Type your marks in %:"))
print("I am %s and my age is %d & percentage is %0.2f" %(name,age,marks))


#f-String

first='Krishnendu'
last='Dey'
fullname1='my name is {} {}'.format(first,last)
fullname2=f'my name is {first} {last}'
print(fullname1)
print(fullname2)
person={'name':'Krishnendu','age':23 }
info1='Hi,I am {}.I am {} years of age'.format(person['name'],person['age'])
info2=f"Hi,I am {person['name']}.I am {person['age']} years of age"
print(info1)
print(info2)

import math as m
Y=f"Value of pi is {m.pi:0.3f}"  #To make make precision upto 3 decimal points for float
print(Y)

for i in range(1,11):
    X=f"The value is {i:03}"     #To make 3 digits appear before integer value 
    print(X)

from datetime import datetime
DOB=datetime(1996,8,20)
Birthday=f"My Birthday is on {DOB:%B %d,%Y }"
print(Birthday)

Type your name:Krishnendu
Type your age:26
Type your marks in %:99
I am Krishnendu and my age is 26 & percentage is 99.00
my name is Krishnendu Dey
my name is Krishnendu Dey
Hi,I am Krishnendu.I am 23 years of age
Hi,I am Krishnendu.I am 23 years of age
Value of pi is 3.142
The value is 001
The value is 002
The value is 003
The value is 004
The value is 005
The value is 006
The value is 007
The value is 008
The value is 009
The value is 010
My Birthday is on August 20,1996

### Some problems

In [27]:
#PROBLEM 2.0
# To remove i'th index character from a string
     #Here we remove o
X='qwertyuiopasdfghjklzxvbnm'
print(X.find('o')) # 1st find the index of the number to be removed
a=X[:8]            #a=X[:i]
b=X[9:]            #b=X[i+1:]
r=a+b              #r=a+b
print(r)
Y=X[1:-1]          #To interchange 1st and last chr. of a string
print(X[-1]+Y+X[0])

8
qwertyuipasdfghjklzxvbnm
mwertyuiopasdfghjklzxvbnq

In [29]:
#PROBLEM 3.0
#To determnine freq. of occurance of each letter in a string
from collections import Counter   #Use of counter module
X='mississippi'
print(Counter(X))

Counter({'i': 4, 's': 4, 'p': 2, 'm': 1})

In [30]:
#PROBLEM 3.0
  #Removing a word from a sentence
X='The guy is not poor'
r=X.replace('not','')          
print(r)

The guy is  poor

In [31]:
#Use of join() method

X = {"name": "John", "country": "Norway"}   #Joining Dictionary
seperator = "_"               
Y = seperator.join(X)
print(Y)
print("_".join(X))

name_country
name_country

In [32]:
myTuple = ("John", "Peter", "Vicky")       #Joining Tuple
x = "_".join(myTuple)
print(x)

myList = ["John", "Peter", "Vicky"]       #Joining List
x = "_".join(myList)
print(x)

John_Peter_Vicky
John_Peter_Vicky

In [33]:
#Problem 5.0
  # Python function to reverses a string if it's length is a multiple of 4
X=['Bull','Dog']
for i in X :
    if len(i)%4==0:
        Y=list(i)
        Y.reverse()
        print(''.join(Y))

lluB

In [34]:
#Problem 6.0
# From list to string 
list_of_ints = [80, 443, 8080, 8081]
print (str(list_of_ints).strip('[]'))

80, 443, 8080, 8081

## 2. List

### Basic Operations

In [3]:
L1 = ['physics', 'chemistry', 1997, 2000]
L2 = [11, 22, 53, 84, 75 ]
L3 = ["ax", "xu", "ikkt", "lfdjd"]
print(type(L1),type(L2),type(L3))
print(len(L1),len(L2),len(L3))
print(L1,L2,L3)                     
print(L1+L2+L3)                    # List concatination
print(L1[2],L2[0],L3[3])
print(L2[0:5:2],L3[5:0:-2])
L1[2]=1996 ;print(L1)              #Modifying an element inside a list
del L2[4] ; print(L2)              #deleting elemnt of a list
print("c" in L3)      #to check if an element is in a list or not
print(max(L2),min(L3))
          #print(max(L1))  not possible as both numeric and char. type datas are present
L2.sort();print(L2)         #Ascending order sorting for numeric
L3.sort();print(L3)         #Sorting alphabetically(defaut)forchar
L3.sort(key=len,reverse=True);print(L3)  #Alphabetical+length ascending
L2.reverse(),L3.reverse();print(L2) ; print(L3)
L1.append(2020); print(L1)          #Adds element @ the end of list
L1.insert(0,'Maths'); print(L1) 
L1.extend(L1);print(L1)            #extending=list concatination
L1.remove("physics");print(L1)     #among 2 physics 1 is removed
print(L1.count(2020),L1.count(0))  #to detrmine how many time an element occurs in a list 
L1.pop() ;print(L1)               #Removes last item from the list
print(L1.index('Maths'),
                 L1.index(2020)) #finding index of element
                 
Str="Hello Python"
print(list(Str))   #converting all the letters(including space) of                the string into a list

<class 'list'> <class 'list'> <class 'list'>
4 5 4
['physics', 'chemistry', 1997, 2000] [11, 22, 53, 84, 75] ['ax', 'xu', 'ikkt', 'lfdjd']
['physics', 'chemistry', 1997, 2000, 11, 22, 53, 84, 75, 'ax', 'xu', 'ikkt', 'lfdjd']
1997 11 lfdjd
[11, 53, 75] ['lfdjd', 'xu']
['physics', 'chemistry', 1996, 2000]
[11, 22, 53, 84]
False
84 ax
[11, 22, 53, 84]
['ax', 'ikkt', 'lfdjd', 'xu']
['lfdjd', 'ikkt', 'ax', 'xu']
[84, 53, 22, 11]
['xu', 'ax', 'ikkt', 'lfdjd']
['physics', 'chemistry', 1996, 2000, 2020]
['Maths', 'physics', 'chemistry', 1996, 2000, 2020]
['Maths', 'physics', 'chemistry', 1996, 2000, 2020, 'Maths', 'physics', 'chemistry', 1996, 2000, 2020]
['Maths', 'chemistry', 1996, 2000, 2020, 'Maths', 'physics', 'chemistry', 1996, 2000, 2020]
2 0
['Maths', 'chemistry', 1996, 2000, 2020, 'Maths', 'physics', 'chemistry', 1996, 2000]
0 4
['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

### Sort & Sorted

In [4]:
#Example1.0
animals=['dog','bull','monkey','donkey','pig','horse']
animals.sort();print(animals)             #Alphabetical sorting
animals.sort(reverse=True);print(animals) #Reverse  sorting
nums=[1,5,12,68,0,-9,6,-35]
nums.sort();print(nums)                 #Ascending sorting(default)
nums.sort(reverse=True);print(nums)     #Descending sorting


#Example 2.0
companies=[('Google',1162.92,'Pichai',103549),
           ('Facebook',163.3,'Mark',44942),
           ('Amazon',1995.9,'Bezos',750000),
           ('Microsoft',115.65,'Bill',148465)]
           
net_worth= lambda companies:companies[1]
companies.sort(key=net_worth,reverse=True)
print(companies)
employees= lambda companies:companies[3]
companies.sort(key=employees,reverse=True)
print(companies)

#Example 3.0
   #Using Sorted fun
animals=['dog','bull','monkey','donkey','pig','horse']
print(sorted(animals))
name='Krishnendu'
print(sorted(name))     
nums=(85,65,32,6,578,95,30,12,3,1)  
print(sorted(nums)) #Use of sort() cannot sort elements of a tuple but use of the sorted() method can.

['bull', 'dog', 'donkey', 'horse', 'monkey', 'pig']
['pig', 'monkey', 'horse', 'donkey', 'dog', 'bull']
[-35, -9, 0, 1, 5, 6, 12, 68]
[68, 12, 6, 5, 1, 0, -9, -35]
[('Amazon', 1995.9, 'Bezos', 750000), ('Google', 1162.92, 'Pichai', 103549), ('Facebook', 163.3, 'Mark', 44942), ('Microsoft', 115.65, 'Bill', 148465)]
[('Amazon', 1995.9, 'Bezos', 750000), ('Microsoft', 115.65, 'Bill', 148465), ('Google', 1162.92, 'Pichai', 103549), ('Facebook', 163.3, 'Mark', 44942)]
['bull', 'dog', 'donkey', 'horse', 'monkey', 'pig']
['K', 'd', 'e', 'h', 'i', 'n', 'n', 'r', 's', 'u']
[1, 3, 6, 12, 30, 32, 65, 85, 95, 578]

### List Comprehension

In [5]:
# Example 1.0

# Normal Method
squares=[]
for i in range(1,11):
    squares.append(i**2)
print(squares)

#List comprehension
squares1=[i**2 for i in range(1,11)]
print(squares1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# Example 2.0

# Normal method
X=[]
for i in range(1,40):
    if i%3==0:
        X.append(i)
print(X)
        
# List comprehension 
X=[i for i in X if i%3==0]
print(X)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [8]:
# Example 3.0
#to print movies that released before year 2000 

Movies=[('citizen kane',1941),('Spirited Away',2001),('The aviator',2004),('Gattaca',1997)]
Movies_after_2000=[(title,year)for (title,year) in Movies if year>2000]
Movies_names=[title for (title,year) in Movies if year>2000]
print(Movies_after_2000)
print(Movies_names)

[('Spirited Away', 2001), ('The aviator', 2004)]
['Spirited Away', 'The aviator']

In [9]:
# Example 4.0
#Scalar Multiplication
V=[1,5,4,6,8,9,7]
S=[i*4 for i in V ]
print(S)

[4, 20, 16, 24, 32, 36, 28]

In [10]:
# Example 5.0
#cartesian product(ex (a,b)*(c,d)=(a,c),(a,d),(b,c),(b,d))

A=[1,2]
B=[3,4]
cartesian_product=[(a,b) for a in A for b in B]
print(cartesian_product)

[(1, 3), (1, 4), (2, 3), (2, 4)]

### Some more examples

In [11]:
#PROBLEM 1.0
    #How to remove duplicates from a list 

L=[1,5,2,6,3,5,2,1,4,8,5,3,1,2,5,4,5,9,4,5]
unique=[]   #an empty list that will store unique values from L
for number in L:            #Iteration through the list
    if number not in unique:
        unique.append(number)
print(unique)

[1, 5, 2, 6, 3, 4, 8, 9]

In [12]:
#Problem 2.0
Mood='Happy,Sad,Gloomy,Loved,Blessed'
List=Mood.split(',') #Making list from comma seperated string
print(List)
String=' and '.join(List) #Making a whole string with and as joiner
csv=','.join(List)        # comma joiner
print(String)
print(csv)
X=['K','R','I','S','H','N','E','N','D','U']
print(''.join(X))

['Happy', 'Sad', 'Gloomy', 'Loved', 'Blessed']
Happy and Sad and Gloomy and Loved and Blessed
Happy,Sad,Gloomy,Loved,Blessed
KRISHNENDU

In [14]:
#Problem 3.0
  #creating list from user inputs
  
message1=input('>')
message2=input('Enter DOB >')
words1=message1.split(" ") #Space is used as splitter 
words2=message2.split("/") #/ is the splitter
print(words1,words2)       #2 differetnt list is created
print(words1+words2)       #List concatination

>hello world
Enter DOB >20/08/1997
['hello', 'world'] ['20', '08', '1997']
['hello', 'world', '20', '08', '1997']

In [15]:
#Problem 4.0 : to get variable unique identification number or string

X=[['a','b','k'],[1,2,3]]
a,b=X
print(a)
print(b)

['a', 'b', 'k']
[1, 2, 3]

In [16]:
#Problem 5.0
    #counting the number of elements in a list within a specified range
from collections import Counter
Y=[1,2,1,3,2,5,6,4,2,2,1,3,2,1,5,1,5,4,6,4,6,4,]
print(Counter(Y))
    #counting occurance of a word in a sentence
X='Python is very popular because it is user fiendly and easy to learn'
List=X.split(' ')
print(Counter(List))

Counter({1: 5, 2: 5, 4: 4, 5: 3, 6: 3, 3: 2})
Counter({'is': 2, 'Python': 1, 'very': 1, 'popular': 1, 'because': 1, 'it': 1, 'user': 1, 'fiendly': 1, 'and': 1, 'easy': 1, 'to': 1, 'learn': 1})

In [17]:
#Problem 6.0
  #seperating the even and odd index numbers of the list
X=['a','b','k','l']
print("The terms at the even positions are:")
for i in X:
    if X.index(i)%2==0:
            print(i)
print("The terms at the odd positions are :")
for i in X:
    if X.index(i)%2 !=0:
        print(i)

The terms at the even positions are:
a
k
The terms at the odd positions are :
b
l

In [18]:
#Problem 7.0
 #Printing length of each element inside a list
X=['sing','dance','gallop']
for i in X :
    print("length of "+str(i)+' is :'+str(len(i)))

length of sing is :4
length of dance is :5
length of gallop is :6

In [19]:
#Problem 8.0
# #Write a Python program to extend a list without append.
# Sample data: [10, 20, 30]
# [40, 50, 60]
# Expected output : [40, 50, 60, 10, 20, 30]

X=[10,20,30]
Y=[60,50,40]
for i in Y:
    X.insert(0,i)
print(X)

[40, 50, 60, 10, 20, 30]

In [20]:
#scalar multiplication 
X=[2,3,-6,5,-9,4]
Y=[4*i for i in X]
print(Y)

[8, 12, -24, 20, -36, 16]

In [21]:
#Listing out those colors that starts with B
colors=['brown','white','red','pink','brown','green','black']
colors_with_B=[]
for name in colors:
    if name.startswith('b'):
        colors_with_B.append(name)
print(colors_with_B)
#OR 
colors_with_B= [name for name in colors if name.startswith('b')]
print(colors_with_B)

['brown', 'brown', 'black']
['brown', 'brown', 'black']

In [22]:
#Listing out movies that released before 2018
movies=[('Devdas',2002),('Kites',2010),('Bala',2019)]
movies_before_2k19=[movie for (movie,year) in movies if year<2019]
print(movies_before_2k19)

['Devdas', 'Kites']

In [23]:
#certesian product 
A=[1,3,5,7]
B=[2,4,6,8]
certesian_prod=[[a,b] for a in A for b in B]
print(certesian_prod)

[[1, 2], [1, 4], [1, 6], [1, 8], [3, 2], [3, 4], [3, 6], [3, 8], [5, 2], [5, 4], [5, 6], [5, 8], [7, 2], [7, 4], [7, 6], [7, 8]]

In [24]:
#Permutation 
X='BOY'
List=list(X)
permutation1=[(i,j,k) for i in List for j in List for k in List]
permutation2=[(i,j) for i in List for j in List]

print(permutation1); print(permutation2)

[('B', 'B', 'B'), ('B', 'B', 'O'), ('B', 'B', 'Y'), ('B', 'O', 'B'), ('B', 'O', 'O'), ('B', 'O', 'Y'), ('B', 'Y', 'B'), ('B', 'Y', 'O'), ('B', 'Y', 'Y'), ('O', 'B', 'B'), ('O', 'B', 'O'), ('O', 'B', 'Y'), ('O', 'O', 'B'), ('O', 'O', 'O'), ('O', 'O', 'Y'), ('O', 'Y', 'B'), ('O', 'Y', 'O'), ('O', 'Y', 'Y'), ('Y', 'B', 'B'), ('Y', 'B', 'O'), ('Y', 'B', 'Y'), ('Y', 'O', 'B'), ('Y', 'O', 'O'), ('Y', 'O', 'Y'), ('Y', 'Y', 'B'), ('Y', 'Y', 'O'), ('Y', 'Y', 'Y')]
[('B', 'B'), ('B', 'O'), ('B', 'Y'), ('O', 'B'), ('O', 'O'), ('O', 'Y'), ('Y', 'B'), ('Y', 'O'), ('Y', 'Y')]

## 3. Tuple

In [38]:
#TUPLE
   #Sequence of immutable python objects
   
T=('physics', 'chemistry', 1997, 2000,1997)
T0=()                        #An empty tuple
T1=('Maths',) ; T2=('Maths') 
print(type(T1),type(T2))     #Note the difference    
T4=(12,15,65,78,30,100)
L=['Hi','Bro',5,45,4,18,23]
print(T,T0,T1,T2)
print(len(T),len(T0),len(T1))
print(T[0],T[1:],T[-1],T[1:-1],T[-1:1])
print(T+T1+T0)                  #concatination of Tuples
print('2020' in T)
print(max(T4),min(T4))
print(T.index(1997))
print(T.count(1997))
print(tuple(L))    #converting list L into tuple
print(list(T))    #converting tuple T into list
del T1 #deleting single tuple element is not possible but deleting      the entire tuple is possible
# print(T1)



#List Inside Tuple
T5=('Mango',['Bananna','pappaya'])
print(type(T5))
print(T5)               #Tuple containing string
print(T5[1][0],T5[0])  #accessing list item inside of tuple
T5[1][1]='Guava'       #modifying items of list inside tuple
print(T5)             

#Unpacking 
      #Available for both Tuples and lists
coordinates_tuple=(3,4,5)
coordinates_list=[6,8,10]

x,y,z=coordinates_tuple
a,b,c=coordinates_list
print(x,y,z);print(a,b,c)


#Namedtuple

from collections import namedtuple

Color=namedtuple('Color',['red','green','blue']) #Syntax for namedtuple
color=Color(55,155,255)      # or color=Color(red=55,green=155,blue=255)

print (color[0])
print (color.red)

<class 'tuple'> <class 'str'>
('physics', 'chemistry', 1997, 2000, 1997) () ('Maths',) Maths
5 0 1
physics ('chemistry', 1997, 2000, 1997) 1997 ('chemistry', 1997, 2000) ()
('physics', 'chemistry', 1997, 2000, 1997, 'Maths')
False
100 12
2
2
('Hi', 'Bro', 5, 45, 4, 18, 23)
['physics', 'chemistry', 1997, 2000, 1997]
<class 'tuple'>
('Mango', ['Bananna', 'pappaya'])
Bananna Mango
('Mango', ['Bananna', 'Guava'])
3 4 5
6 8 10
55
55

## 4.Set

In [37]:
s1={'Apple', 'Bananna','Mango'}
s2={'Mango','Guava'}
s1.add('Apple')
s1.add(500)
s1.discard('Mango')
#s1.remove('Mango')
print(s1)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))
print(s2.symmetric_difference(s1))
print(s1^s2)             #For symmetrical difference between sets
print(s1.pop())          #Any abrupt element may pop out
print(s2.update(s1))     # s2 changes to s1



#Problem 1.0(Removing duplicate elements from a list)
List=[1,2,3,4,3,5,2,2,1,3,5,6,8,9]
Set=set(List)        #converting list into set to remove duplicates
print(List)          #Prints all the values along with duplicates
print(Set)           #Set doensot contain duplicates in it
List=list(Set)       #converting set into list
print(List)          #note output and notice previous n present list

# to get the difference between the two lists and also get unique values from a list

X=[1,2,3,6,4,5]
Y=[1,3,6]
x=set(X)
y=set(Y)
print(list(x.difference(y)))   
print(list(x.intersection(y)))


#Write a Python program to select an item randomly from a list.

X=['K','R','I','S','H','N','E','N','D','U']
Y=set(X)
print(Y.pop())

#checking subset and superset
setx = set(["apple", "mango"])
sety = set(["mango"])
issubset = setx <= sety            #set y is the subset of set x
print(issubset)                    # Same as print(setx.issubset(sety))

issuperset = setx >= sety         #set x is the superset of set y
print(issuperset)                 # Same as print(setx.issuperset(sety))

{500, 'Apple', 'Bananna'}
{'Guava', 500, 'Mango', 'Apple', 'Bananna'}
set()
{500, 'Apple', 'Bananna'}
{'Mango', 'Guava'}
{'Mango', 'Bananna', 'Guava', 500, 'Apple'}
{'Mango', 'Bananna', 'Guava', 500, 'Apple'}
500
None
[1, 2, 3, 4, 3, 5, 2, 2, 1, 3, 5, 6, 8, 9]
{1, 2, 3, 4, 5, 6, 8, 9}
[1, 2, 3, 4, 5, 6, 8, 9]
[2, 4, 5]
[1, 3, 6]
I
False
True

## 5. Dictionary

In [39]:
#Keying in Dictionary

#Keying in Dictionary

S1={'K1': 'V1', 'K2': 'V2', 'K3':'V3'}
S2={'K4':'V4','K5':'V5'}
print(S1)
print(len(S1))
print(str(S1))
print(type(S1))
print(S1['K1'])       #Slicing of dictionary
S1['K3']='V3.1'     #Updating previous key value 
S1['K6']='V6'   #Adding new key and corresponding value
del S2['K5']

print(S1,S2)
#print(S1+S2) :This type of concatination not possible
print(S1.keys())
print(S1.values())
print(S1.copy())            # to copy the dict. S1
print(S1.items())          #shows items in form of a touple
print(S1.get('K2'))        #Similar of doing print(S1['SD'])
S1.update(S2);print(S1)   #Updating/merging 2 dictionaries into 1
#print(S1.clear())         #clears all the elements in the dictionary
#del S1                    #Deletes the whole dictionary
# #print(S1['KD'])  



#List inside Dictionary
Set={'subset1':['a','b','c'],'subset2':[1,2,3]}
print(type(Set))
print(Set)                        
print(Set['subset1'][0],Set['subset2'][2]) #accessing list data
Set['subset2'][1]=4              #Modifying list data inside tuple
print(Set)

#Python program to access dictionary keys element by index
X={'k1':1,'k2':2}
Y=list(X)
print(Y[0],Y[1])


# One of the differences between the two notations is what they do if you supply a key that doesn't exist.
# If you reference a non-existent key, get() returns None, whereas the square brackets notation will raise a KeyError.
# But the get() function also allows you to provide a default value in the event the key doesn't exist.

Set={'subset1':['a','b','c'],'subset2':[1,2,3]}
print(Set.get("subset3"))          #subset3 is a Missing key 
print(
    Set.get("subset3", "Huh?"),     #get() fn with a default value
    Set.get('subset1'))

{'K1': 'V1', 'K2': 'V2', 'K3': 'V3'}
3
{'K1': 'V1', 'K2': 'V2', 'K3': 'V3'}
<class 'dict'>
V1
{'K1': 'V1', 'K2': 'V2', 'K3': 'V3.1', 'K6': 'V6'} {'K4': 'V4'}
dict_keys(['K1', 'K2', 'K3', 'K6'])
dict_values(['V1', 'V2', 'V3.1', 'V6'])
{'K1': 'V1', 'K2': 'V2', 'K3': 'V3.1', 'K6': 'V6'}
dict_items([('K1', 'V1'), ('K2', 'V2'), ('K3', 'V3.1'), ('K6', 'V6')])
V2
{'K1': 'V1', 'K2': 'V2', 'K3': 'V3.1', 'K6': 'V6', 'K4': 'V4'}
<class 'dict'>
{'subset1': ['a', 'b', 'c'], 'subset2': [1, 2, 3]}
a 3
{'subset1': ['a', 'b', 'c'], 'subset2': [1, 4, 3]}
k1 k2
None
Huh? ['a', 'b', 'c']